.state-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    justify-content: center;
    margin: 0px auto;
    min-height: 50vh;
    flex-wrap: wrap;
}

.state-content {
    display: flex;
    width: 100%;
    justify-content: center;

}

.state-list-items {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  gap: 30px;
  max-width: 1500px;
  flex-wrap: wrap;

}

.state-item-wrapper {
  display: flex;
  width: 100%;
  max-width: 350px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border-radius: 10px;
  border: 2px solid #0f3d23;
  padding: 20px;
}

.variants-wrapper {
display: flex;
flex-direction: column;
gap: 10px;
height: 100%;
min-height: 400px;
}

.items_part {
    display: flex;
    width: 100%;
    max-width: 550px;
    align-items: center;
    gap: 50px;
    justify-content: center;
}

.items_image {
    max-width: 60px;
}

.addtocart_button {
    color: black;
    background-color: greenyellow;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
    border: none;
    font-size: 14px;
    height: 100%;
}

.addtocart_button:hover {
    cursor: pointer;
}

.nameprice {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.nameprice h4 {
    margin: 0;
}

.items_part h5 {
    margin: 0;
}

.crying_image {
    width: 100%;
    max-width: 90px;
}

.noitems {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.remove_button {
    background-color: transparent;
    border: none;
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: auto;
}

.quantity {
    display: flex;
    margin: 15px;
}

.action-button {
  background-color: #14532d; 
  color: white;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.action-button:hover {
  background-color: #166534; 
  transform: translateY(-2px);
}

.action-button:active {
  background-color: #0f3d23;
  transform: translateY(0);
}

.action-button.ready {
  background-color: #1e7c4a;
}

.action-button.ready:hover {
  background-color: #239357;
}

.action-button.taken {
  background-color: #991b1b;
}

.action-button.taken:hover {
  background-color: #b91c1c;
}

/* Layout za grupu dugmadi */
.action-button-wrapper {
  display: flex;
  gap: 0.8rem;
}

