.state-cart-items {
   display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1700px;
  align-items: center;
  min-height: 100vh;
  align-items: center;
  margin: 0px auto;
}

.cart {
    display: flex;
    width: 100%;
    max-width: 1700px;
    gap: 100px;
    flex-wrap: wrap;
}

.cart-item {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.cart-product-wrapper  {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    justify-content: flex-start;
    align-items: center;
      border-radius: 10px;
  border: 2px solid #0f3d23;
  padding: 20px;
}

.cart-variants {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.items_part {
  display: flex;
  align-items: center;      
  gap: 1rem;               
  margin-bottom: 1rem;
}

.items_image {
  width: 60px;             
  height: 60px;            
  object-fit: cover;        
border-radius: 8px;       
}

.item_details {
  display: flex;
  justify-content: space-between;  
  flex: 1;                          
  font-weight: bold;
  font-size: 24px;
}

.order-number {
    font-size: 24px;
}

.item_qty {
  margin-left: 1rem;
}

.cart-video {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


@keyframes rotateGradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 360% 50%;
  }
}

.ready-frame {
  position: relative;
  padding: 1rem;
  border-radius: 12px;
  z-index: 0;
  /* Opcionalno pozadina ili border u normalnom stanju */
  background-clip: padding-box;
}

.ready-frame::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 16px;
  background: linear-gradient(270deg, #0f9d58, #34a853, #0f9d58, #34a853);
  background-size: 800% 800%;
  animation: rotateGradient 4s linear infinite;
  z-index: -1;
}
