.home_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    flex: 1;
    justify-content: center;
    margin: 0px auto;

}

.home_image {
    max-width: 580px;
}

.homesectionone {
    display: flex;
    width: 100%;
    max-width: 1500px;
    gap: 100px;
    margin: 100px 0px;
    justify-content: center;
}


.homepagesection_right {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    max-width: 600px;
    gap: 20px;
}



.homesection_heading {
    background-image: url('../../assets/headingbackground.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
}

.sectiononeparagraf {
    font-weight: bold;
    font-size: 24px;
}

.homesectiontwo {
    min-height: 100vh;
    display: flex;
    width: 100%;
    max-width: 1500px;
    gap: 100px;
    margin: 100px 0px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #b6f1aa, #69b9f5, #b6f1aa, #69b9f5);
}

.homesectiontwo_left {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    max-width: 400px;
    gap: 20px;
}

.homesectiontwo_heading {
    background-image: url('../../assets/sectiontwo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 30px;
}

.sectiontwo_image {
    max-width: 580px;
    background-image: url('../../assets/sectiontwobcg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeatn;
}

/*section three*/
.works_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1300px;
    flex: 1;
    justify-content: center;
    margin: 0px auto;
}

.heading {
    display: flex;
    width: 100%;
    max-width: 1000px;
    justify-content: space-between;
}

.heading h1 {
    font-size: 50px;
    font-weight: bold;
}

.heading p {
    max-width: 500px;
    font-weight: bold;
    font-size: 16px;
}

.works_page {
    display: flex;
    width: 100%;
    max-width: 1500px;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.work_part {
    border: 1px solid black;
    padding: 10px;
    border-radius: 20px;
    max-width: 400px;
}

.work_part h2 {
    max-width: 200px;
}

.sectionthree_image {
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
}


/*sectiojn four*/

.feedback_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    flex: 1;
    justify-content: center;
    margin: 0px auto;
    background-color: #b6f1aa;
    min-height: 100vh;
    margin-top: 50px;
}

.feedback_page {
    display: flex;
    width: 100%;
    max-width: 1300px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.heading {
    background-image: url('../../assets/sectionfourbcg.png');
    background-position: center;
    background-size: cover;
}

.feedback_part {
    padding: 10px;
    max-width: 300px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

.sectionfour_image {
    border-radius: 20px;
    width: 100%;
    max-width: 100px;
}

/*section five*/

.sectionfive_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    flex: 1;
    justify-content: center;
    margin: 0px auto;
}

.sectionfive_heading {
    background-image: url('../../assets/sectionfivebcg.png');
    background-position: center;
    background-size: cover;
    font-size: 40px;
}

.news {
    display: flex;
    width: 100%;
    max-width: 1350px;
    gap: 20px;
}

.news_part {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
}

.sectionfive_button {
    color: black;
    background-color: greenyellow;
    border-radius: 15px;
    padding: 10px 20px;
    font-weight: bold;
    border: none;
    font-size: 16px;
    text-transform: uppercase;
    max-width: 150px;
}

/*sectionsix*/
.contact_wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1500px;
    flex: 1;
    justify-content: center;
    margin: 0px auto;
    background: linear-gradient(45deg, #b6f1aa, #69b9f5, #b6f1aa, #69b9f5);
    margin-top: 50px;
    gap: 200px;
    min-height: 70vh;

}

.contactsocialnetwork_image {
    width: 100%;
    max-width: 50px;
}

.contactleft_part {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    align-items: center;
}

.contact_left_data {
    background-color: white;
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border-radius: 20px;
}

.contact_left_data h1 {
    font-size: 50px;
}

.contact_left_data p {
    font-size: 20px;
    font-weight: bold;
}

.contactleft_form {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    gap: 10px;
}

.contactleft_part {
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
}

.contact_right {
    width: 100%;
    max-width: 500px;
}

.contact_right_image {
    width: 100%;
    max-width: 500px;
}

.contact_right p {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .home_wrapper {
        width: 90%;
        flex: 0;
        margin-top: 150px;
        flex-wrap: wrap;
    }

    .homesectionone {
        width: 90%;
        flex: 0;
        flex-wrap: wrap;
    }

    .homesectiontwo {
        width: 90%;
        flex: 0;
        flex-wrap: wrap;
    }

    .works_wrapper {
        width: 90%;
        flex: 0;
        flex-wrap: wrap;
    }
    .feedback_wrapper {
        width: 100%;
        flex: 0;
        flex-wrap: wrap; 
    }
    .sectionfive_wrapper {
        width: 90%;
        flex: 0;
        flex-wrap: wrap; 
    }
      .contact_wrapper {
        flex: 0;
        flex-wrap: wrap; 
    }
    .works_page {
        flex-wrap: wrap;
    }
    .feedback_page {
        flex-wrap: wrap;
        justify-content: flex-start ;
    }
    .news {
        flex-wrap: wrap;
    }
    .contact_left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .contact_left_data {
        max-width: 270px;
    }
    .contactleft_part {
        max-width: 270px;
    }
}

@media screen and (max-width: 600px) {
    .home_wrapper {
        margin-top: 100px;
    }

    .home_wrapper h1 {
        font-size: 24px;
    }

    .home_wrapper p {
        font-size: 14px;
    }
    .home_image {
        max-width: 350px;
    }
    .sectiontwo_image {
        max-width: 300px;
    }

    .homesectiontwo {
        min-height: 0;
    }

    .heading {
        flex-wrap: wrap;
    }

    .feedback_part {
        max-width: 220px;
    }


}

@media screen and (max-width: 320px) {
    .home_wrapper {
        margin-top: 50px;
    }
}